:host {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3vmin;
}

img {
    width: calc(var(--font-size) * 4);
    height: calc(var(--font-size) * 4);

    border-radius: 100%;

    box-shadow: var(--small-shadow);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1vmin;

    flex: 1;
}