:host, main {
    padding: 1rem 0.8rem;

    margin: auto;

    width: 65vw;
    max-width: 60vh;
    min-width: 300px;
    height: fit-content;
    min-height: 80%;
    max-height: 98%;

    box-sizing: border-box;
}

@media (max-width: 300px) {
    :host, main {
        width: 100vw;
        min-width: unset;
    }
}