:host {
    position: relative;
    display: block;
}

:host(:hover) > #info,
:host(:hover) > #background,
:host(:focus-within) > #info,
:host(:focus-within) > #background {
    display: block;
}

button {
    all: unset;
    width: inherit;
    height: inherit;
    border-radius: 100%;
}

button:focus-visible {
    box-shadow: 0 0 0 0.4rem var(--surface4), var(--shadow);
    outline: none;
}

button > slot {
    width: 100%;
    height: 100%;
}

#info {
    position: absolute;
    display: none;
    top: var(--offset);

    width: max-content;
    max-width: var(--max-width);

    background-color: var(--surface2);

    border-radius: 0.8rem;
    box-shadow: var(--shadow);
    padding: 0.8rem;

    z-index: 99;

    box-sizing: border-box;
}

#background {
    position: absolute;
    display: none;
    width: var(--max-width);
    height: 200%;
    top: 0;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
}

::slotted(*) {
    width: inherit;
    height: inherit;
}