:host {
    position: relative;

    display: flex;
    justify-content: space-between;

    width: 100%;

    box-sizing: border-box;
    padding: 0.5rem;
    
    border-radius: 0.5rem;
}

:host(:hover) {
    background-color: var(--surface3);
}

:host(.next)::before {
    --size: 0.5rem;

    content: "";

    position: absolute;
    top: calc((100% - var(--size)) / 2);
    left: -1rem;

    display: block;
    width: var(--size);
    height: var(--size);

    border-radius: 100%;

    background-color: var(--surface4);
}

p {
    color: var(--text3);
}

.changed {
    color: var(--text2);
}