:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.next-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.timer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
}

.timer {
    font-size: 2.5rem;
}

.line {
    flex: 1;
    height: 0;
    border-top: solid 0.05rem var(--text3);
}

.periods {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    flex: 1;

    width: 80%;
}

.periods > :hover {
    background-color: hsl(var(--main-hue), 100%, 96%);
}