info-popup.next {
    position: absolute;
    left: -1rem;

    --offset: 1rem;
}

info-popup.next > .icon {
    --size: 0.5rem;

    display: block;
    width: var(--size);
    height: var(--size);

    border-radius: 100%;

    background-color: var(--surface4);
}

info-popup.next:focus-within > .icon {
    background-color: var(--surface2);
}