:host {
    display: inline-block;
    width: 12vmin;
    height: 12vmin;
    position: relative;
    border-radius: 0.8rem;
    flex-shrink: 0;
}

:host(:hover) {
    background-color: var(--surface2);
    box-shadow: var(--shadow-colour) calc(var(--shadow-x) / 2) calc(var(--shadow-y) / 2) var(--shadow-spread);
}

:host(.selected) {
    background-color: var(--surface4) !important;
    box-shadow: var(--shadow-colour) calc(var(--shadow-x) / 2) calc(var(--shadow-y) / 2) var(--shadow-spread);
}

a {
    display: flex;
    flex-direction: column;

    border-radius: inherit;

    width: 12vmin;
    height: 12vmin;
}

a:focus-visible {
    box-shadow: inset 0 0 0 0.4rem var(--surface4), var(--shadow);
    outline: none;
}

:host(.selected) > a:focus-visible {
    box-shadow: inset 0 0 0 0.4rem var(--surface2), var(--shadow);
}

::slotted(*) {
    width: 5.4vmin;
    height: 5.4vmin;
    margin: auto;
    cursor: pointer;
    border-radius: inherit;
}

::slotted(img) {
    filter: invert(var(--img-invert)) hue-rotate(var(--hue-rotate));
}