:host {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5vmin;

    background-color: var(--surface2);
    padding: 1.5vmin;
    border-radius: 1.5vmin;
    box-shadow: var(--small-shadow);
}

button.indicator {
    --scale: 0.95;
}

loading-indicator {
    --scale: 1.1;
}

.indicator {
    all: unset;

    display: flex;

    width: calc(var(--font-size) * var(--scale));
    height: calc(var(--font-size) * var(--scale));
}

svg {
    width: inherit;
    height: inherit;
}