:host {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.6rem;

    max-width: var(--max-width, unset);

    background-color: var(--surface2);
    padding: 0.6rem;
    border-radius: 0.6rem;
    box-shadow: var(--small-shadow);

    pointer-events: all;
}

:host(.hover) {
    opacity: 0.5;
    backdrop-filter: blur(0.1rem);
    pointer-events: none;
}

button.indicator {
    --scale: 0.95;
    pointer-events: all;
}

loading-indicator.indicator {
    --scale: 1.1;
}

.indicator {
    all: unset;

    display: flex;

    width: calc(1rem * var(--scale));
    height: calc(1rem * var(--scale));
}

::slotted(a) {
    pointer-events: all;
}
