@media not all and (max-aspect-ratio: 1/1) {
    body {
        flex-direction: row;
    }
}

#notification-area {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.4rem;

    z-index: 100;

    pointer-events: none;
}

#notification-area > inline-notification {
    --max-width: 15rem;
}

main {
    display: flex;
    align-items: stretch;
    justify-content: stretch;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

.hidden {
    display: none;
}