@media not all and (max-aspect-ratio: 1/1) {
    body {
        flex-direction: row;
    }
}

main {
    display: flex;
    align-items: stretch;
    justify-content: stretch;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

.hidden {
    display: none;
}

#notification-area {
    position: absolute;
    top: 1vmin;
    right: 1vmin;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1vmin;

    z-index: 100;
}