:host {
    position: relative;

    touch-action: none;
}

#point1,
#point2 {
    --size: 1.2rem;

    position: absolute;

    width: var(--size);
    height: var(--size);

    background-color: var(--surface4);
    border-radius: calc(var(--size) / 2);

    transform: translate(-50%, -50%);

    z-index: 1;

    cursor: move;
}

#point1::after,
#point2::after {
    content: "";

    display: block;

    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);

    margin: calc(var(--size) / -2);
}

#barcodeDisplay {
    position: absolute;

    box-sizing: border-box;

    filter: contrast(5);
}

#barcodeDisplay.outline {
    border: solid 0.4rem var(--text1);
}

info-popup {
    --max-width: 30vmax;
    --offset: 2.6rem;
    
    position: absolute;
    top: 1%;
    left: 1%;

    width: 1.9rem;
    height: 1.9rem;
    z-index: 2;
}

#save {
    all: unset;
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    top: 1.25%;
    right: 1.25%;
}

#save > svg {
    width: inherit;
    height: inherit;
}