:host {
    position: relative;

    touch-action: none;
}

#point1,
#point2 {
    --size: 1.2rem;

    position: absolute;

    width: var(--size);
    height: var(--size);

    background-color: var(--surface4);
    border-radius: calc(var(--size) / 2);

    transform: translate(-50%, -50%);

    z-index: 3;

    cursor: move;
}

#point1:focus-visible,
#point2:focus-visible {
    outline: none;
    background-color: var(--surface2);
    box-shadow: 0 0 0 0.4rem var(--surface4), var(--shadow);;
}

#point1::after,
#point2::after {
    content: "";

    display: block;

    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);

    margin: calc(var(--size) / -2);
}

#barcode {
    position: absolute;

    box-sizing: border-box;

    filter: contrast(5);

    z-index: 2;
}

#barcode.outline {
    border: solid 1.5rem var(--text1);
}

info-popup {
    --max-width: 30vmax;
    --offset: 2.6rem;
    
    position: absolute;
    top: 1%;
    left: 1%;

    width: 1.9rem;
    height: 1.9rem;
}

#save {
    width: 1.7rem;
    height: 1.7rem;
    position: absolute;
    top: 1.25%;
    right: 1.25%;
    border-radius: 0.25rem;
}