:host {
    position: relative;

    touch-action: none;
}

#point1,
#point2 {
    --size: 3vmin;

    position: absolute;

    width: var(--size);
    height: var(--size);

    background-color: var(--surface4);
    border-radius: calc(var(--size) / 2);

    transform: translate(-50%, -50%);

    z-index: 1;

    cursor: move;
}

#point1::after,
#point2::after {
    content: "";

    display: block;

    width: 3vmax;
    height: 3vmax;

    margin: calc(var(--size) / 2 - 1.5vmax);
}

#barcodeDisplay {
    position: absolute;

    box-sizing: border-box;

    filter: contrast(5);
}

#barcodeDisplay.outline {
    border: solid 1vmin var(--text1);
}

info-popup {
    --max-width: 30vmax;
    --offset: 7vmin;
    
    width: 5vmin;
    height: 5vmin;
    z-index: 2;
}