:host {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.4rem;

    z-index: 100;
}

::slotted(inline-notification) {
    --max-width: 15rem;
}