main {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2vh 2%;

    background-color: var(--surface2);
    border-radius: 2vmin;
    box-shadow: var(--surface-shadow) 0 0 1vmin;
}

main > p {
    text-align: center;
    z-index: 1;
}

#background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 0;
    filter: blur(1vmin) opacity(0.3);
}

#backgroundimg {
    position: absolute;
    filter: hue-rotate(var(--hue-rotate));
    height: 70vmin;
    transform: translate(5vmin, 0);
}

loading-element {
    width: 96vmin;
}