body {
    justify-content: center;
    align-items: center;
}

p {
    color: var(--text1);
}

p, button {
    margin-bottom: 3vmin;
    margin-top: 3vmin;
}

#logo {
    height: 70vmin;
    filter: blur(1vmin) opacity(0.3) hue-rotate(var(--hue-rotate));
    position: absolute;
    transform: translateX(5vmin);
    z-index: -1;
}

#logo-rings {
    width: 90vmin;
    height: 90vmin;
    filter: blur(1vmin) opacity(0.3);
    position: absolute;
    z-index: -1;
}

#important {
    font-size: calc(var(--font-size) * 1.5);

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

:where(button) {
    border: solid 0.2vmin var(--surface4);
    background-color: var(--surface2);
    color: var(--text2);
    padding: 1vmin 2vmin;
    border-radius: calc(var(--font-size) / 2.5);
    box-shadow: var(--shadow);
    font-size: var(--font-size);
}

:where(button:hover) {
    background-color: var(--surface3);
    color: var(--text2);
}

:where(button:active) {
    border: solid 0.2vmin transparent;
    color: var(--text4);
    text-shadow: 0.2vmin 0.2vmin var(--shadow-colour);
    background-color: var(--surface4);
}