@media (max-aspect-ratio: 1/1) {
    main {
        max-height: calc(100vh - 16vw) !important;
    }
}

main {
    margin: auto;
    flex: 0.96;
    width: 96% !important;
    height: 96vh !important;
    box-sizing: border-box;
    padding: 2vmin;
    background-color: var(--surface2);
    border-radius: 2vmin;
    box-shadow: var(--surface-shadow) 0 0 1vmin;
}

#container {
    width: 100%;
    height: inherit;
    padding-right: 1vmin;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--surface4) transparent;
}

::-webkit-scrollbar {
    width: 1vmin;
}

::-webkit-scrollbar-thumb {
    background-color: var(--surface4);
    border-radius: 1vmin;
}