:host {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vmin;
}

span {
    width: 80%;
    border-bottom: 0.2vmin solid var(--text3);
}

#toggle {
    display: grid;

    padding: 1vmin;
    width: 8vmin;
    height: 8vmin;

    appearance: none;
    -webkit-appearance: none;
}

#toggle::after {
    content: "";
    width: 100%;
    height: 100%;

    background-image: url(/images/moon.svg);
    background-size: contain;

    filter: invert(var(--img-invert)) hue-rotate(var(--hue-rotate));

    pointer-events: none;
}

#toggle:checked::after {
    background-image: url(/images/sun.svg);
}

info-popup {
    position: absolute;
    top: 3vmin;
    left: 3vmin;
    width: 5vmin;
    height: 5vmin;
    --max-width: 30vmax;
    --offset: 7vmin;
    z-index: 2;
}