:where(input[type="checkbox"]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    width: 1.3rem;
    height: 1.3rem;

    background: var(--surface2);
    border: solid 0.1rem var(--surface4);
    border-radius: 0.2rem;
}

:where(input[type="checkbox"]:checked)::after {
    content: "";

    position: absolute;

    display: block;
    width: 80%;
    height: 80%;

    background-color: var(--surface4);

    border-radius: 25%;
}

:where(input[type="checkbox"]:focus-visible) {
    box-shadow: 0 0 0 0.4rem var(--surface4), var(--shadow);
    outline: none;

    background-color: var(--surface4);
    border-color: var(--surface1);
}

:where(input[type="checkbox"]:focus-visible)::after {
    background-color: var(--surface1);
}