:where(*),
:host {
    scrollbar-width: thin;
    scrollbar-color: var(--surface4) transparent;
}

:where(*)::-webkit-scrollbar,
:host::-webkit-scrollbar {
    background-color: transparent;
    width: 0.2rem;
}

:where(*)::-webkit-scrollbar-thumb,
:host::-webkit-scrollbar-thumb {
    background-color: var(--surface4);
    border-radius: 0.2rem;
}