:where(h1, h2, h3, h4, h5, h6, p) {
    margin: 0;
}

:where(*) {
    font-weight: 400;
    color: var(--text1);
    cursor: default;
    font-size: var(--font-size);

    user-select: var(--user-select, none);
    -ms-user-select: var(--user-select, none);
    -moz-user-select: var(--user-select, none);
    -webkit-user-select: var(--user-select, none);
}

:where(h1) {
    font-size: calc(var(--font-size) * 1.6);
}

:where(h2) {
    font-size: calc(var(--font-size) * 1.5);
}

:where(h3) {
    font-size: calc(var(--font-size) * 1.4);
}

:where(h4) {
    font-size: calc(var(--font-size) * 1.3);
}

:where(h5) {
    font-size: calc(var(--font-size) * 1.2);
}

:where(b, strong) {
    font-weight: 600;
}

:where(a) {
    color: var(--text2);
    text-decoration: none;
    cursor: pointer;
}

:where(a:hover) {
    text-decoration: underline;
}

:where(blockquote) {
    border-left: calc(var(--font-size) / 2) solid var(--surface4);
    margin: 0;
    padding-left: calc(var(--font-size) / 4 * 3);
}