:root {
    font-size: var(--font-size);
    font-weight: 400;
    color: var(--text1);
    cursor: default;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

:where(h1, h2, h3, h4, h5, h6, p) {
    margin: 0;
}

:where(*) {
    font: inherit;
    color: inherit;
    cursor: inherit;

    user-select: var(--user-select, inherit);
    -ms-user-select: var(--user-select, inherit);
    -moz-user-select: var(--user-select, inherit);
    -webkit-user-select: var(--user-select, inherit);
}

:where(h1) {
    font-size: 2rem;
}

:where(h2) {
    font-size: 1.5rem;
}

:where(h3) {
    font-size: 1.4rem;
}

:where(h4) {
    font-size: 1.3rem;
}

:where(h5) {
    font-size: 1.2rem;
}

:where(h6) {
    font-size: 1rem;
}

:where(b, strong) {
    font-weight: 600;
}

:where(.a) {
    all: unset;
}

:where(a, .a) {
    color: var(--text2);
    text-decoration: none;
    cursor: pointer;
}

:where(a:hover, .a:hover) {
    text-decoration: underline;
}

:where(a:focus-visible, .a:focus-visible) {
    box-shadow: 0 0 0 0.4rem var(--surface4);
    border-radius: 0.05rem;
    outline: none;
}

:where(blockquote) {
    border-left: calc(var(--font-size) / 2) solid var(--surface4);
    margin: 0;
    padding-left: calc(var(--font-size) / 4 * 3);
}