:where(input[type=text]) {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    border-bottom: solid 0.05rem var(--text2);
    border-radius: 0;

    background-color: var(--surface2);
    color: var(--text1);

    font-size: 1rem;
    font-family: monospace;

    height: 2rem;

    --user-select: text;
}

:where(input[type=text]:focus-visible) {
    box-shadow: 0 0 0 0.4rem var(--surface4), var(--shadow);
    border-radius: 0.1rem;
    outline: none;
}

:where(input[type=text])::-webkit-input-placeholder {
    color: var(--text3);
}

:where(input[type=text])::-moz-placeholder {
    color: var(--text3);
}
