:host {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-top: 1vmin;
    margin-bottom: 1vmin;
}

.period-nums {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
}

.period-nums > p {
    color: var(--text3);
    height: 3.9vmin;
    line-height: calc(var(--font-size) * 1.5);

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@media (max-aspect-ratio: 3/4) {
    .period-nums > p {
        height: 3vmax;
        margin-top: 0.5vmax;
    }
}