:host {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: calc(var(--font-size) * 4.5);
    min-width: 0;
}

.name {
    margin-bottom: 1vmin;
    text-align: center;
    font-size: calc(var(--font-size) / 1.2);
    width: calc(var(--font-size) * 3.63);
    color: var(--text3);
    border-bottom: solid grey 0.2vmin;
}

.highlighted {
    color: var(--text2);
}