:host {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 4.5rem;
    min-width: 0;
}

.name {
    margin-bottom: 0.4rem;
    text-align: center;
    font-size: calc(1rem / 1.2);
    width: 3.63rem;
    color: var(--text3);
    border-bottom: solid grey 0.05rem;
}

.highlighted {
    color: var(--text2);
}