:host {
    margin: auto;
    padding: 1.6rem;
    max-width: 92%;
    width: 23rem;
    min-height: 29rem;
    max-height: 30rem;

    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: var(--surface4) transparent;
}

@media (max-aspect-ratio: 3/4) {
    :host {
        min-height: calc(29rem + 7.5vmax);
        max-height: calc(30rem + 7.5vmax);
    }
}

timetable-row + timetable-row {
    border-top: solid grey 0.05rem;
}