:host {
    margin: auto;
    padding: 4vmin;
    max-width: 92%;
    width: calc(var(--font-size) * 23);
    height: calc(calc(var(--font-size) * 25.5) + 9vmin);
}

@media (max-aspect-ratio: 3/4) {
    :host {
        height: calc(calc(calc(var(--font-size) * 25.5) + 9vmin) + 7.5vmax);
    }
}

timetable-row + timetable-row {
    border-top: solid grey 0.2vmin;
}