:host {
    width: 25.2rem;
    max-width: 92%;
    min-height: 29rem;
    max-height: 98%;

    margin: auto;

    box-sizing: border-box;
    padding: 1.6rem;

    overflow-y: auto;
    overflow-x: visible;
}

table + table {
    border-top: solid grey 0.05rem;
}

table {
    counter-reset: period var(--count-start, 0);

    display: grid;
    grid-template-columns: 3% repeat(auto-fill, calc(97% / 5));
    grid-template-rows: 0.5fr repeat(auto-fill, 1fr);

    width: 100%;
}

thead, tbody, tr {
    display: contents;
}

thead > tr {
    border-bottom: solid 0.05rem var(--text3);
}

tbody > tr {
    padding-top: 0.4rem;
    margin-bottom: 0.4rem;
}

tbody > tr::before {
    counter-increment: period;
    content: counter(period);

    margin: 0.1rem 0;

    color: var(--text3);

    line-height: 1.5;

    grid-column-start: 1;
}

td, th {
    text-align: center;
    padding: 0;
}

th {
    color: var(--text3);
    font-size: calc(1rem / 1.2);
}

th:not(:empty) {
    border-bottom: solid 0.05rem var(--text3);
}

.current-day {
    color: var(--text2);
    font-weight: bold;
}

td {
    width: fit-content;
    height: fit-content;

    margin: 0.1rem auto;
    line-height: 1.5;
}

@media (pointer: coarse) {
    :host {
        min-height: 33.5rem;
    }

    td {
        height: 1.8rem;
        line-height: 1.8;
    }
}